# Ignore system files and folders
*.log
*.tmp
.DS_Store
*.rtf
*.psd
*.png
__pycache__/
*.pyc

# Ignore virtual environments
venv/
.env/
node_modules/

# Ignore macOS-specific files
.Trash/
*.localized
